<div class="container-fluid bg-dark">
	<h3> Zwigato : Food Delivery Application </h3>
	<h3>
		<span> Connect With Us: </span>
		<a href="#" target="_blank">
			<img alt="facebook" height="225" src="assets/images/social/facebook.png" width="225">
		</a>
		<a href="#" target="_blank">
			<img alt="instagram" src="assets/images/social/instagram.jpg">
		</a>
		<a href="#" target="_blank">
			<img alt="twitter" src="assets/images/social/twitter.png">
		</a>
		<a href="#" target="_blank">
			<img alt="gmail" src="assets/images/social/gmail.png">
		</a>
	</h3>
</div>
