.nav-links {
  color: orangered;
  text-decoration: none;
}

.nav-links:hover {
  color: white;
  background-color: orangered;
  cursor: pointer;
  text-decoration: underline;
  padding: 20px;
  border-radius: 5px;
}
