<app-search></app-search>
<div *ngFor="let menu of menuitems" class="card m-3" style="width: 14rem; height: auto; display: inline-flex">
	<img alt="{{menu.name}}" class="card-img-top" src="{{menu.imageUrl}}">
	<div class="card-body">
		<h3 class="card-title fw-bold fs-3 text-center">{{menu.name}}</h3>
		<p class="card-text text-center">
			<span><strong>Category:</strong> {{menu.category}}</span> &nbsp;
			<span><strong>Price:</strong> ₹{{menu.price}}/- </span>&nbsp;
			<span><strong>Ratings: &nbsp;</strong> <img class="star"
														src="./assets/images/menu/ratings.JPG"/>{{menu.ratings}}
				/5 </span>
		</p>
		<button class="btn btn-danger ms-5" href="#">Add To Cart</button>
	</div>
</div>
