<div class="container-fluid">
	<div class="row mt-4">
		<div class="col mb-5">

			<form [formGroup]="loginForm" class="needs-validation" novalidate>
				<h2 class="fs-4 text-center">
					Login Form
				</h2>
				<!--				<div class="mt-4">-->
				<!--					<mat-form-field class="col-12">-->
				<!--						<mat-label>Full Name</mat-label>-->
				<!--						<input-->
				<!--							formControlName="fullname"-->
				<!--							matInput-->
				<!--							maxlength="50"-->
				<!--							placeholder="ex: Axe00, Ashish"-->
				<!--							type="text"-->
				<!--						/>-->
				<!--					</mat-form-field>-->
				<!--					<mat-error-->
				<!--						*ngIf="loginForm.controls['fullname'].invalid && (loginForm.controls['fullname'].dirty || loginForm.controls['fullname'].touched)">-->
				<!--						<mat-error *ngIf="loginForm.controls['fullname'].hasError('required')">-->
				<!--							Full Name cannot be empty-->
				<!--						</mat-error>-->
				<!--					</mat-error>-->
				<!--				</div>-->
				<!--				<div class="mt-4">-->
				<!--					<mat-form-field class="col-12">-->
				<!--						<mat-label>Contact</mat-label>-->
				<!--						<input-->
				<!--							formControlName="contact"-->
				<!--							matInput-->
				<!--							maxlength="10"-->
				<!--							pattern="^[6-9]\d{9}$"-->
				<!--							placeholder="ex: 9876543210"-->
				<!--							type="text"-->
				<!--						/>-->
				<!--					</mat-form-field>-->
				<!--					<mat-error-->
				<!--						*ngIf="loginForm.controls['contact'].invalid && (loginForm.controls['contact'].dirty || loginForm.controls['contact'].touched)">-->
				<!--						<mat-error *ngIf="loginForm.controls['contact'].hasError('required')">-->
				<!--							Contact cannot be empty-->
				<!--						</mat-error>-->
				<!--						<mat-error *ngIf="loginForm.controls['contact'].hasError('pattern')">-->
				<!--							Contact should be 10 digits and start with 6, 7, 8, or 9-->
				<!--						</mat-error>-->
				<!--					</mat-error>-->
				<!--				</div>-->
				<div class="mt-4">
					<mat-form-field class="col-12">
						<mat-label>Email</mat-label>
						<input
							formControlName="email"
							matInput
							maxlength="100"
							pattern="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+"
							placeholder="ex: axe00@example.com"
							type="email"
						/>
					</mat-form-field>
					<mat-error
						*ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
						<mat-error *ngIf="loginForm.controls['email'].hasError('required')">
							Email cannot be empty
						</mat-error>
						<mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">
							Invalid email format
						</mat-error>
					</mat-error>
				</div>
				<div class="mt-4">
					<mat-form-field class="col-12">
						<mat-label>Password🔑</mat-label>
						<input
							formControlName="password"
							matInput
							maxlength="25"
							minlength="8"
							placeholder="ex: LittleKidLover"
							type="password"
						/>
					</mat-form-field>
					<mat-error
						*ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
						<mat-error *ngIf="loginForm.controls['password'].hasError('required')">
							Password cannot be empty
						</mat-error>
						<mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
							Password should have at least 8 characters
						</mat-error>
						<mat-error *ngIf="loginForm.controls['password'].hasError('maxlength')">
							Password cannot be more than 25 characters
						</mat-error>
					</mat-error>
				</div>
				<div class="mt-4 d-flex justify-content-around">
					<button
						(click)="loginCustomer()"
						[disabled]="loginForm.invalid"
						class="col-3 rounded-pill"
						color="primary"
						mat-raised-button
						type="submit"
					>
						Login
					</button>
				</div>
				<a routerLink="/register" style="position: relative; left: 100px; top: 14px; text-decoration: none">Not
					registered? Click here to register!</a>
			</form>
		</div>
	</div>
</div>

