<app-search></app-search>
<div *ngFor="let restaurant of restaurants" class="card mt-4 mb-4" style="width: 100%">
	<img alt="{{restaurant.name}}" class="card-img-top" src="{{restaurant.imageUrl}}">
	<div class="card-body">
		<h3 class="card-title text-center fw-bold fs-2">{{restaurant.name}}</h3>
		<p class="card-text text-center">
			<span> Ratings: <img src="assets/images/menu/ratings.JPG">{{restaurant.ratings}}/5 </span> &nbsp;
			<span>Delivery Time: {{restaurant.deliveryTime}} </span>
		</p>
		<button class="btn btn-danger ms-5" href="#" routerLink="/menu">Go to Menu Page</button>
	</div>
</div>
