<app-search></app-search>
<h2 class="text-center mt-2"> MENU CARD </h2>
<div class="cards">
	<div *ngFor="let food of foods" class="card container mt-3 justify-content-center" style="width: 16rem">
		<img alt="{{food.name}}" class="card-img-top" src="{{food.imageUrl}}">
		<div class="card-body">
			<h4 class="card-title fw-bold text-center">{{food.name}}</h4>
			<p class="card-text text-center">Category: {{food.category}}</p>
			<p class="text-center">
				<span class="card-text">Price ₹{{food.price}}.00/- </span>
				&nbsp;
				<span> <img alt="ratings" src="assets/images/menu/ratings.JPG" style="height:15px; width: 15px"/></span>
				<span class="card-text"> {{food.ratings}} </span>
			</p>
			<div class="button">
				<button class="btn btn-danger ms-5"> Add to Cart</button>
			</div>
		</div>
	</div>
</div>
